$dark-mode: (
  elements: hsl(209, 23%, 22%),
  background: hsl(207, 26%, 17%),
  text: hsl(0, 0%, 100%),
  input: hsl(207, 26%, 17%),
  active: hsl(206, 27%, 30%),
);

$light-mode: (
  elements: hsl(0, 0%, 100%),
  background: hsl(0, 0%, 98%),
  text: hsl(200, 15%, 8%),
  input: hsl(0, 0%, 52%),
  active: hsl(0, 0%, 95.5%),
);
